body{
    color: #1D8696;
    font-family: 'Lato', sans-serif;
}

header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),url(./Imágenes/header.jpg);
    background-size: auto;
    background-position: top;
    text-align: center;
    color: #B5FEA7;
    background-repeat: no-repeat;
    padding: 2% 0;
}

.material-icons{
    display: block;
}

#searchBtn{
    padding: 0.375rem;
    color: #B5FEA7;
    border-color: #B5FEA7;
}

#searchBtn:hover{
    background-color: #B5FEA7;
    color: #1D8696;
}

.form-inline{
    flex-flow: initial;
}

.form-inline
.form-control, #group{
    width: -webkit-fill-available;
}

.row{
    justify-content: center;
    display: flex;
}

.col, .col-sm-4{
    width: inherit;
}

h5{
    padding: 0.75rem;
    color: #B5FEA7;
}

.card-title{
    height: 71px;
    word-wrap: break-word;
}

.card
.card-image img{
    width: inherit;
}

.card{
    transition: 0.25s;
    max-width: 15rem;
    justify-content: center;
    display: flex;
    margin-bottom: 13%;
    cursor: pointer;
}

.card:hover,
.card:focus{
    box-shadow: 2px 7px 7px 2px rgba(0,0,0,0.65);
    transform: translateY(-0.30em);
}

.modal{
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
    min-width: 100%;
    min-height: 100%;
}

#pokemones{
    background-image: url(./Imágenes/background.jpg);;
    padding: 2% 0;
    min-height: 100%;
}

#root{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    justify-content: left;
    padding: 2% 0 0 1%;
}